*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/*--------------------------------------------------*/

header > nav > ul, header > nav{
    display: flex;
    background-color: gray;
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;
    margin-bottom: .5rem;
}

.logo{
    width: 200px;
    background-color: rgb(207, 190, 190);
    padding: 8px;
    margin-left: 20px;
    border-radius: 3px 10px 3px 10px;
    transition: .4s;
}

.logo:hover{
    transform: scale(1.05);
}

.link > a{
    font-size: 1.7rem;
    color: white;
    font-family: sans-serif;
    margin-right: 2rem;
    transition: .5s;
}


.link > a:hover{
    background-color: black;
    padding: 3px;
    border-radius: 10px;
}


.bars, .link_login{
    display: none;
}

/*--------------------------------------------------*/

.section_home{
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-areas: "category adverts";
    gap: 10px;
}

.ads{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "adverts";
    gap: 10px;
}

.category{
    grid-area: category;
    background-color: red;
    height: 100vh;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    
}

.category > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category > form > input{
    height: 1.7rem;
    font-size: 1.2rem;
    margin:10px 0;
    padding: 0 5px;
}

.category > form > button{
    height: 1.6rem;
    width: 5rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.category > h2{
    border-bottom: 2px solid;
}


.list_category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-size: 1.5rem;
}

.list_category > a{
    color: black;
    margin: 10px 0;
}


.adverts{
    grid-area: adverts;
    background-color: brown;
}

.adverts_ads{
    height: 100vh;
}


/*--------------------------------------------------*/

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    place-items: center;   
    padding: 60px;

}

.item{
    border: 1px solid;
    margin: 1rem;
    width: 250px;
    height: 240px;
    transition: .4s ease-out;
    cursor: pointer;
    margin-bottom: 50px;
}

.cards > a {
    text-decoration: none;
    list-style: none;
    outline: none;
    color: black;
}

.item > img{
    width: 100%;
    height: 100%;
}

.item:hover{
    filter: brightness(1.1);
}

.title{
    font-size: 1.1rem;
    padding: 0 .5rem ;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.price{
    padding: 0 .5rem ;
    font-family: Arial, Helvetica, sans-serif;
}

.location{
    padding: 0 .5rem ;
    display: flex;
    justify-content: space-between;
}

/*-------------------------Style Annouce Page-------------------------*/

section > h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
}

.annouce{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5px auto;
}

.annouce > input{
    height: 2rem;
    font-size: 1.3rem;
    outline: none;
    padding: 0 8px;
}

.annouce > label{
    margin:15px 0;
}

.annouce > select{
    height: 2rem;
    font-size: 1.3rem;
}

.annouce > textarea{
    padding: 8px;
}


.images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.item_file > img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.item_file{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.annouce > button{
    height: 2.3rem;
    width: 60%;
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(180deg, #627960, #3a3939);
    color: white;
    transition: .4s;
    cursor: pointer;
}

.annouce > button:hover{
    filter: brightness(1.1);
}

/*-------------------------Style Annouce Page-------------------------*/

.remove{
    background:linear-gradient(red, tomato);
    border-radius: 10px;
    text-align: center;
    padding: 3px;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}


/*CARROSEL*/

.slider{
    overflow: hidden;
    width: 100%;
    height: 400px;

}

.slide{
    display: none;
}

.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}


.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider-item > img{
    width: 600px;
    height: 400px;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

.content{
    width: 43%;
    margin: 20px;
    background-color: red;
    height: 520px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;    
}

.tumblr > img{
    width: 100px;
    height: 100px;
}


.buttons > label > img{
    cursor: pointer;
    border-radius: 6px;
    object-fit: fill;
}

.buttons > label:hover{
    opacity: 0.9;
}

.container{
    display: flex;
    justify-content: space-between;
}

.info{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info > h2{
    margin-bottom: 15px;
}

.info_item{
    background-color: antiquewhite;
    border-radius: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 28px;
}

.info_item > p{
    margin: 10px 0;
    font-size: 1.4rem;
    text-align: justify;
}










@media(max-width:880px){

    header > nav{
        height: 70px;
    }

    nav > a{
        margin: 0 auto;
    }

    .bars{
        display: block;
        margin-right: 24px;
        font-size: 1.9rem;
        color: white;
        cursor: pointer;
    }

    .link_login{
        font-size: 1.7rem;
        font-family: sans-serif;
        margin-right: 2rem;
        display: block;
        text-decoration: none;
        color: white;
    }

    .links{
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: space-evenly;
        top: 69px;
        width: 100%;
        height: 60%;
        z-index: 1;
    }

    .show{
        display: flex;
    }

    .category{
        display: none;
    }

    .adverts{
        padding: 0 20px;
        height: auto;
    }

    .section_home{
        display: grid;
        grid-template-columns: 2fr 7fr;
        grid-template-areas: "adverts adverts";
        gap: 10px;
    }

    .cards{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 50px;

    }

    /*ITEM_PAGE*/

    .container{
        flex-direction: column;
    }

    .content{
        width: 95%;
        background-color: red;
        margin: 20px auto;
    }

    .slider-item > img{
        width: 100%;
        height: 400px;
    }


}

@media(max-width:609px){
    .item{
        width:400px;
        height: 200px;
    }
}